.container {
  margin-top: 47px;
  height: 27px;
  display: flex;
  align-items: center;

  .logo {
    cursor: pointer;
    margin-right: 170px;
  }

  .headerItems {
    width: 275px;
    display: flex;
    justify-content: space-between;

    .headerItem {
      color: #333;
      text-decoration: none;
      line-height: 27px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  }

  .cart {
    margin-left: auto;
    cursor: pointer;
  }
}
